{{ define "main" }}

  {{ $tkey := .Params.titleKey }}
  <h1>
    {{- if $tkey -}}
      {{ i18n $tkey }}
    {{- else -}}
      {{ .Title }}
    {{- end -}}
  </h1>

  {{ if .Content }}
    <div>{{ .Content }}</div>
  {{ end }}

  {{ $sections := .Sections }}
  {{ $pages := .RegularPages }}

  {{ if or (gt (len $sections) 0) (gt (len $pages) 0) }}
    <ul>

      {{ range $sections.ByTitle }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{- $sk := .Params.titleKey -}}
            {{- if $sk -}}
              {{ i18n $sk }}
            {{- else -}}
              {{ .Title }}
            {{- end -}}
          </a>
        </li>
      {{ end }}

      {{ range $pages.ByTitle }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ $cap := .Param "breadcrumbtitle" }}
            {{ if not $cap }}
              {{ $cap = path.Base (strings.TrimSuffix "/" .File.Dir) }}
            {{ end }}
            {{ printf "%s %s" $.Title $cap }}
          </a>
        </li>
      {{ end }}

    </ul>
  {{ else }}
    <p>{{ i18n "list_no_items" | default "No items yet." }}</p>
  {{ end }}

{{ end }}
