{{/* DEBUG version */}}

{{- $imgs := .Page.Resources.ByType "image" -}}

<section class="testunit-grid">
  <div class="testunit-left">
    {{ .Inner }}

    <p>DEBUG images count: {{ len $imgs }}</p>
  </div>

  <div class="testunit-right">
    {{- if gt (len $imgs) 0 -}}
      {{- $img := index $imgs 0 -}}
      <figure class="testunit-photo">
        <img
          class="testunit-photo-img"
          src="{{ $img.RelPermalink }}"
          alt="debug">
      </figure>
    {{- end -}}
  </div>
</section>
